* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 100vh;
    box-sizing: border-box;
    border:25px solid #00bbff46;
}
p {
    width: 30%;
    font-weight: 600;
    font-family: sans-serif;
    color: darkslategray;
    word-spacing: 3px;
}

img {
    width: 40%;
    max-width: 400px;
}

a {
    color: #00BBFF;
    text-decoration: none;
}